.padding-sm {
    padding: 10px 0;
}

.mg-top-0 {
    margin-top: 0;
}

.mg-0 {
    margin: 0;
}

// ###########
// # PADDINGS #
// ###########

.pad-xs {
    padding: var(--p-xs);
}

.pad-s {
    padding: var(--p-s);
}
.pad-m {
    padding: var(--p-m);
}
.pad-l {
    padding: var(--p-l);
}

.pad-xl {
    padding: var(--p-xl);
}

.pad-v-xs {
    padding-top: var(--p-xs);
    padding-bottom: var(--p-xs);
}

.pad-v-s {
    padding-top: var(--p-s);
    padding-bottom: var(--p-s);
}
.pad-v-m {
    padding-top: var(--p-m);
    padding-bottom: var(--p-m);
}
.pad-v-l {
    padding-top: var(--p-l);
    padding-bottom: var(--p-l);
}

.pad-v-xl {
    padding-top: var(--p-xl);
    padding-bottom: var(--p-xl);
}

.pad-h-xs {
    padding-left: var(--p-xs);
    padding-right: var(--p-xs);
}

.pad-h-s {
    padding-left: var(--p-s);
    padding-right: var(--p-s);
}
.pad-h-m {
    padding-left: var(--p-m);
    padding-right: var(--p-m);
}
.pad-h-l {
    padding-left: var(--p-l);
    padding-right: var(--p-l);
}

.pad-h-xl {
    padding-left: var(--p-xl);
    padding-right: var(--p-xl);
}

// ###########
// # MARGINS #
// ###########

.mg-xs {
    margin: var(--m-xs);
}

.mg-s {
    margin: var(--m-s);
}
.mg-m {
    margin: var(--m-m);
}
.mg-l {
    margin: var(--m-l);
}

.mg-xl {
    margin: var(--m-xl);
}

.mg-v-xs {
    margin-top: var(--m-xs);
    margin-bottom: var(--m-xs);
}

.mg-v-s {
    margin-top: var(--m-s);
    margin-bottom: var(--m-s);
}
.mg-v-m {
    margin-top: var(--m-m);
    margin-bottom: var(--m-m);
}
.mg-v-l {
    margin-top: var(--m-l);
    margin-bottom: var(--m-l);
}

.mg-v-xl {
    margin-top: var(--m-xl);
    margin-bottom: var(--m-xl);
}

.mg-h-xs {
    margin-left: var(--m-xs);
    margin-right: var(--m-xs);
}

.mg-h-s {
    margin-left: var(--m-s);
    margin-right: var(--m-s);
}
.mg-h-m {
    margin-left: var(--m-m);
    margin-right: var(--m-m);
}
.mg-h-l {
    margin-left: var(--m-l);
    margin-right: var(--m-l);
}

.mg-h-xl {
    margin-left: var(--m-xl);
    margin-right: var(--m-xl);
}

.mg-bot-0 {
    margin-bottom: 0;
}

.mg-bot-xs {
    margin-bottom: var(--m-xs);
}

.mg-bot-s {
    margin-bottom: var(--m-s);
}

.mg-bot-m {
    margin-bottom: var(--m-m);
}
.mg-bot-l {
    margin-bottom: var(--m-l);
}

.mg-bot-xl {
    margin-bottom: var(--m-xl);
}

.mg-top-0 {
    margin-top: 0;
}

.mg-top-xs {
    margin-top: var(--m-xs);
}

.mg-top-s {
    margin-top: var(--m-s);
}

.mg-top-m {
    margin-top: var(--m-m);
}
.mg-top-l {
    margin-top: var(--m-l);
}

.mg-top-xl {
    margin-top: var(--m-xl);
}