:root {
    --primary-green-500: #a9a983;
    --primary-green-200: #E6E6DB;
    --primary-green-100: #F7F7F3;
    --primary-brown-500: #342520;
    --primary-brown-200: #E0D1CC;
    --primary-gray: #817F75;
    --primary-gray-rgb: 129,127,117; // Used with RGBA functions
    
    --highlight-green: #0DDB23;
    --secondary-blue-700: #5b7a98;
    --secondary-blue-500: #00b8ff;
    --secondary-blue-300: #d4f4ff;
    --brick-gray: #abaea3;

    --secondary-red: #e46e49;

    --header-height: 110px;

    // Sizes

    --content-max-width: 780px;

    // Typography

    --text-12: 12px;
    --text-14: 14px;
    --text-16: 16px;
    --text-18: 18px;
    --text-20: 20px;
    --text-24: 24px;
    --text-30: 30px;
    --text-36: 36px;
    --text-48: 48px;
    --text-60: 60px;
    --text-72: 72px;

    // Paddings
    --p-xs: 5px;
    --p-s: 10px;
    --p-m: 15px;
    --p-l: 25px;
    --p-xl: 35px;
    --p-xxl: 55px;
    // Margins
    --m-xs: 5px;
    --m-s: 10px;
    --m-m: 15px;
    --m-l: 25px;
    --m-xl: 35px;
    --m-xxl: 55px;
}
